* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#header {
  height: 100vh;
  background: url(./img/img-1.png) no-repeat;
  background-size: 55% 85%;
  background-position: top right;
}

.logo {
  margin-right: 100px;
  margin-left: 100px;
}

.img-logo {
  margin-top: 30px;
  width: 100px;
}

.header-text {
  max-width: 600px;
  margin-top: 120px;
}

.header-text h1 {
  font-size: 34px;
}

.header-text p {
  line-height: 18px;
  font-size: 15px;
  color: #777;
}

.header-text button {
  margin-top: 60px;
  margin-bottom: 30px;
}

.common-btn {
  padding: 15px 20px;
  background: #fff;
  outline: none;
  border: 2px solid #d2481e;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: inset 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.common-btn:hover {
  background: #d2481e;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background: #d2481e;
  margin: 15px 0;
}

.line {
  line-height: 20px;
}

.line-1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background: #d2481e;
}

.line-2 {
  width: 400px;
  height: 2px;
  line-height: 20px;
  display: inline-block;
  background: #d2481e;
}

.line-3 {
  width: 280px;
  height: 2px;
  line-height: 20px;
  display: inline-block;
  background: #d2481e;
}

/* ---- SOCIAL MEDIAS ---- */

.social-icons {
  width: 5px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.social-icons img {
  width: 30px;
  display: block;
  margin: 0 auto 20px;
  cursor: pointer;
  
}

/* ----  MENU ---- */
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  z-index: 2;
  background-color: #f35c21;
  transition: 0.4s ease-in-out;
}

nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

#menu-btn {
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  color: #fff;
  font-size: 40px;
  background: #f35c21;
  z-index: 2;
  cursor: pointer;
}

/*  --- SOBRE ---  */

#about,
#offers {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-left-col {
  flex-basis: 50%;
}

.about-left-col img {
  width: 80%;
}

.about-right-col {
  flex-basis: 50%;
  text-align: right;
}

.about-text {
  max-width: 700px;
  margin-right: 100px;
  display: inline-block;
}

.about-text h2 {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}

.about-text h3 {
  font-size: 20px;
  font-style: italic;
  color: #787878;
}

/* --- GRUPO ---  */

#teams {
  padding-top: 50px;
  padding-bottom: 50px;
}

.teams-row {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.teams-col {
  flex-basis: 25%;
  text-align: center;
}

.teams-col img {
  width: 200px;
}

.teams-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.teams-btn {
  margin: 80px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teams-btn .line {
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}

.left-line {
  margin-left: 20px;
  line-height: 20px;
}

.right-line {
  margin-right: 20px;
  line-height: 20px;
}

/* --- CURSOS ---  */

#courses {
  padding: 100px 0;
}

.course-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.course-right-col {
  flex-basis: 50%;
}

.course-right-col img {
  width: 80%;
  margin-left: 20%;
}

.course-left-col {
  flex-basis: 50%;
}

.course-text {
  max-width: 500px;
  margin-left: 100px;
}

.course-text button {
  margin: 30px 0;
}

/* -- OFERTAS -- */

/* A maior parte da estilização se encontra junto com a estilização do  "SOBRE" */

#offers button {
  margin: 30px;
}

/* --- CONTATO --- */

.contact-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-left-col,
.contact-right-col {
  flex-basis: 41%;
}

.contact-left-col {
  margin-left: 100px;
  flex-basis: 50%;
}
.contact-right-col img {
  width: 100%;
}

form {
  max-width: 350px;
  margin: 30px 0;
}

form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: nome;
  box-shadow: inset 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid #ff8555;
  border-radius: 40px;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-box button {
  width: 48%;
  padding: 18px 0;
}

/* --- FOOTER --- */

footer {
  padding: 50px 0 30 px;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ff8555;
  margin: 0 100px;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left-col {
  flex-basis: 50%;
  margin-top: 60px;
  margin-left: 100px
}

.footer-right-col {
  flex-basis: 35%;
} 

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-title {
  color: #ff8555;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-title h4{
  color: #ff8555;
  margin-bottom: 20px;
}

.link-title small {
  color: #777;
  font-size: 13px;
}

.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.copyright-text {
  flex-basis: 50%;
  margin: 78px 0 0 123px;
}

.footer-logo img {
  width: 100px;
}

.footer-logo button {
  padding: 12px 38px;
  margin: 30px 100px ;
  font-size: 10px;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 771px){
  #header {
    background: none;
  }
  .logo {
    margin: 0 50px;
  }
  .img-logo{
    margin-top: 27px;
    width: 70%;
  }
  .header-text {
    margin-top: 100px;
  }
  .header-text h1 {
    font-size: 25px;
  }
  #menu-btn {
    width: 40px;
    right: 50px;
  }
  .common-btn {
    padding: 10px 16px;
  }
  .social-icons img {
    width: 18px;
    margin: 15px auto;
  }
  .about-left-col, .about-right-col {
    flex-basis: 100%;
  }
  
  .about-text {
    margin: 50px 50px 0;
  }
  .about-text h2{
    font-size: 18px;
  }
  .teams-col{
    flex-basis: 100%;
    margin-bottom: 40px ;
  }
  .teams-btn .line{
    display: none;
  }
  .course-left-col {
    flex-basis: 100%;
  }
  .course-right-col{
    flex-basis: 100%;
    margin-top: 70px;
  }
.course-text{
  max-width: 100%;
}
.contact-left-col, .contact-right-col{
  flex-basis: 100%;
}
.contact-left-col{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-right-col{
  margin-top: 50px;
}
.copyright-text, footer-logo {
  flex-basis: 100%;
}
.link-title{
  flex-basis: 50%;
  margin-bottom: 30px;
}
}

@media screen and (max-width: 320px) {
}